<h1>Hello, <%= @user.email %></h1>
 
<p>You have requested to reset your password.</p>

<p>To choose a new password, just follow <a href="<%= @url %>">this link</a>:
<%= @url %></p>
 
<p>Have a great day!</p>